# machine learning
imbalanced-learn==0.10.1
nltk==3.8.1
numpy==1.24.3
numpyencoder==0.3.0
optuna==3.1.1
pandas==1.5.3
scikit-learn==1.2.2
torch
torchvision
lightning
torchmetrics

# data / data source
dvc==2.58.1
drain3==0.9.11

# application
fastapi==0.95.2
streamlit==1.22.0

# tracking
mlflow==2.3.2

# other
typing-extensions==4.5.0
rich==13.3.5 # beautiful text formatting in terminal
snorkel==0.9.9
typer==0.9.0
uvicorn==0.22.0
tqdm==4.65.0
